<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page of Insertion Sorts Lab</title>
</head>

<body bgcolor="#20BCE3"></body>

<body>
<h1>AP Computer Science A - Labs</h1>
<ul>
    <li><a href="https://spring-boot-calculator.herokuapp.com/calculator">Recursion Lab</a></li>
    <li><a href="https://inheritance-lab.herokuapp.com/inheritance">Inheritance Lab</a></li>
    <li><a href="https://insertion-sorts-lab.herokuapp.com/sort">Sorts Lab</a></li>
</ul>
</body>
</html>