<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aditya's Insertion Sorts Lab</title>
</head>

<body bgcolor="#20BCE3"></body>

<body>
<div class="lab">
    <h1>Insertion Sorts Lab</h1>
    <h3>Insertion</h3>
    <form th:action="@{insertion}">
        <label>The user will enter a length. The program will rnadomly generate numbers to fit the length. The program will order the numbers from least to greatest.</label>
        <br>
        <label>Length</label>
        <input  th:name="length" th:value="${length}">
        <input type="submit">
    </form>
    <p th:text="${unsorted}"></p>

    <p th:text="${sorted}"></p>

    <p th:text="${time}"></p>

</div>
</body>
</html>